Repository blurrycontour/zuul-gerrit: changes, and which Zuul jobs are due for each by the changed paths.
All: zuul-stream-functional, zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

zuul-stream-functional:
  parent: multinode
  nodeset: zuul-functional-temp-master
  pre-run: playbooks/zuul-stream/pre.yaml
  run: playbooks/zuul-stream/functional.yaml
  post-run:
  - playbooks/zuul-stream/post.yaml
  - playbooks/zuul-stream/post-ara.yaml
  required-projects:
  - openstack/ara

zuul-build-dashboard:
  parent: build-javascript-content
  success-url: npm/html/status.html
  vars:
    javascript_content_dir: zuul/web/static
    zuul_api_url: https://zuul.openstack.org
  run: playbooks/dashboard/run.yaml

zuul-build-dashboard-multi-tenant:
  parent: zuul-build-dashboard
  success-url: npm/html/tenants.html
  post-run: playbooks/dashboard/multi.yaml
  vars:
    zuul_api_url: https://softwarefactory-project.io/zuul
    javascript_copy_links: false

build-sphinx-docs:
  vars:
    sphinx_python: python3

tox-py36:
  nodeset: ubuntu-bionic

nodejs-npm-run-lint:
  vars:
    node_version: 8
  success-url: npm/reports/bundle.html

web: add OpenAPI documentation
  doc/requirements.txt
  doc/source/conf.py
  doc/source/user/index.rst
  doc/source/user/web.rst
  test-requirements.txt
  tox.ini
  web/package.json
  web/public/swagger.json
  web/src/App.jsx
  web/src/actions/openapi.js
  web/src/api.js
  web/src/index.css
  web/src/pages/OpenApi.jsx
  web/src/reducers/index.js
  web/src/reducers/openapi.js
  web/src/routes.js
  web/yarn.lock
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

runner: implement prep-workspace
  tests/base.py
  tests/unit/test_web.py
  zuul/executor/common.py
  zuul/executor/runner.py
  zuul/executor/server.py
Due: build-sphinx-docs, tox-py35, tox-py36

Update patch set 10
  7a1330a3def0ae6dd5083d5c460cf6d3cf64e13f
Due: build-sphinx-docs, tox-py35, tox-py36

runner: add configuration schema
  tests/base.py
  zuul/executor/runner.py
Due: build-sphinx-docs, tox-py35, tox-py36

runner: add execute sub-command
  tests/unit/test_web.py
  zuul/executor/common.py
  zuul/executor/runner.py
  zuul/executor/server.py
Due: build-sphinx-docs, tox-py35, tox-py36

Elasticsearch Zuul reporter
  doc/source/admin/connections.rst
  doc/source/admin/drivers/elasticsearch.rst
  requirements.txt
  tests/base.py
  tests/fixtures/config/elasticsearch-driver/git/common-config/playbooks/test.yaml
  tests/fixtures/config/elasticsearch-driver/git/common-config/zuul.d/config.yaml
  tests/fixtures/config/elasticsearch-driver/git/org_project/README
  tests/fixtures/config/elasticsearch-driver/git/org_project2/README
  tests/fixtures/config/elasticsearch-driver/main.yaml
  tests/fixtures/zuul-elastic-driver.conf
  tests/unit/test_connection.py
  zuul/driver/elasticsearch/__init__.py
  zuul/driver/elasticsearch/connection.py
  zuul/driver/elasticsearch/reporter.py
  zuul/lib/connections.py
Due: zuul-stream-functional, build-sphinx-docs, tox-py35, tox-py36

A reporter for Elasticsearch with the capability to index build and buildset results in an index.
  doc/source/admin/connections.rst
  doc/source/admin/drivers/elasticsearch.rst
  requirements.txt
  tests/base.py
  tests/fixtures/config/elasticsearch-driver/git/common-config/playbooks/test.yaml
  tests/fixtures/config/elasticsearch-driver/git/common-config/zuul.d/config.yaml
  tests/fixtures/config/elasticsearch-driver/git/org_project/README
  tests/fixtures/config/elasticsearch-driver/git/org_project2/README
  tests/fixtures/config/elasticsearch-driver/main.yaml
  tests/fixtures/zuul-elastic-driver.conf
  tests/unit/test_connection.py
  zuul/driver/elasticsearch/__init__.py
  zuul/driver/elasticsearch/connection.py
  zuul/driver/elasticsearch/reporter.py
  zuul/lib/connections.py
  zuul/web/static/.keep
Due: zuul-stream-functional, build-sphinx-docs, tox-py35, tox-py36

A reporter for Elasticsearch with the capability to index build and buildset results in an index.
  doc/source/admin/connections.rst
  doc/source/admin/drivers/elasticsearch.rst
  requirements.txt
  tests/base.py
  tests/fixtures/config/elasticsearch-driver/git/common-config/playbooks/test.yaml
  tests/fixtures/config/elasticsearch-driver/git/common-config/zuul.d/config.yaml
  tests/fixtures/config/elasticsearch-driver/git/org_project/README
  tests/fixtures/config/elasticsearch-driver/git/org_project2/README
  tests/fixtures/config/elasticsearch-driver/main.yaml
  tests/fixtures/zuul-elastic-driver.conf
  tests/unit/test_connection.py
  zuul/driver/elasticsearch/__init__.py
  zuul/driver/elasticsearch/connection.py
  zuul/driver/elasticsearch/reporter.py
  zuul/lib/connections.py
Due: zuul-stream-functional, build-sphinx-docs, tox-py35, tox-py36

web: add OpenAPI documentation
  .gitignore
  doc/requirements.txt
  doc/source/conf.py
  doc/source/user/index.rst
  doc/source/user/web.rst
  test-requirements.txt
  tox.ini
  web/package.json
  web/public/openapi.yaml
  web/src/App.jsx
  web/src/actions/openapi.js
  web/src/api.js
  web/src/index.css
  web/src/pages/OpenApi.jsx
  web/src/reducers/index.js
  web/src/reducers/openapi.js
  web/src/routes.js
  web/yarn.lock
  zuul/_setup_hook.py
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Path conditions:
  zuul-stream-functional: any of: zuul/ansible/.*, playbooks/zuul-stream/.*, requirements.txt
  zuul-build-dashboard: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
  zuul-build-dashboard-multi-tenant: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
  build-sphinx-docs: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py35: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py36: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  nodejs-npm-run-lint: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
