Repository blurrycontour/zuul-gerrit: changes, and which Zuul jobs are due for each by the changed paths.
All: zuul-stream-functional, zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Path conditions:
  zuul-stream-functional: any of: zuul/ansible/.*, playbooks/zuul-stream/.*, requirements.txt
  zuul-build-dashboard: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
  zuul-build-dashboard-multi-tenant: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
  build-sphinx-docs: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py35: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py36: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  nodejs-npm-run-lint: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock

CLI: Fix errors with the REST client
  zuul/cmd/client.py
Due: build-sphinx-docs, tox-py35, tox-py36

REST API: fix discrepancies between RPC and REST outputs for autohold
  tests/unit/test_web.py
  zuul/web/__init__.py
Due: build-sphinx-docs, tox-py35, tox-py36

Add simple testing for Zuul CLI & REST API
  tests/unit/test_web.py
Due: build-sphinx-docs, tox-py35, tox-py36

REST API: improve tenant scoping of autohold, authorizations
  releasenotes/notes/scoping_REST_API-866574c4d73c577a.yaml
  tests/unit/test_web.py
  zuul/web/__init__.py
Due: build-sphinx-docs, tox-py35, tox-py36

CLI: add autohold-info, autohold-delete via REST
  tests/unit/test_web.py
  zuul/cmd/client.py
Due: build-sphinx-docs, tox-py35, tox-py36

REST API: add promote endpoint
  tests/unit/test_web.py
  zuul/web/__init__.py
Due: build-sphinx-docs, tox-py35, tox-py36

REST API: add promote endpoint
  doc/source/discussion/tenant-scoped-rest-api.rst
  doc/source/reference/tenants.rst
  tests/unit/test_web.py
  zuul/web/__init__.py
Due: build-sphinx-docs, tox-py35, tox-py36

CLI: support promote via the REST API
  tests/unit/test_web.py
  zuul/cmd/client.py
Due: build-sphinx-docs, tox-py35, tox-py36

Builds: add "held" attribute
  releasenotes/notes/builds_held_attribute-711abd33402ce036.yaml
  tests/unit/test_connection.py
  tests/unit/test_web.py
  zuul/driver/sql/alembic/versions/32e28a297c3e_add_held_attribute_to_builds.py
  zuul/driver/sql/sqlconnection.py
  zuul/driver/sql/sqlreporter.py
  zuul/model.py
  zuul/scheduler.py
  zuul/web/__init__.py
Due: build-sphinx-docs, tox-py35, tox-py36

separate Zuul CLI, Zuul Web CLI
  doc/source/reference/client.rst
  doc/source/reference/user.rst
  doc/source/reference/webclient.rst
  releasenotes/notes/zuul_web_client-f51112c9ceb55af1.yaml
  requirements.txt
  setup.cfg
  tests/unit/test_web.py
  zuul/cmd/__init__.py
  zuul/cmd/client.py
  zuul/cmd/web_client.py
Due: zuul-stream-functional, build-sphinx-docs, tox-py35, tox-py36

Web UI: add checkbox filters to TableFilters component, filter builds by held status
  web/src/containers/TableFilters.jsx
  web/src/pages/Builds.jsx
  web/src/pages/Buildsets.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

web UI: add Autoholds Requests page
  web/src/actions/autohold.js
  web/src/api.js
  web/src/containers/autohold/autoholdRequest.jsx
  web/src/pages/Autohold.jsx
  web/src/pages/Autoholds.jsx
  web/src/reducers/autohold.js
  web/src/reducers/index.js
  web/src/routes.js
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint
