Repository blurrycontour/zuul-gerrit: changes, and which Zuul jobs are due for each by the changed paths.
All: zuul-stream-functional, zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

zuul-stream-functional:
  parent: multinode
  nodeset: zuul-functional-temp-master
  pre-run: playbooks/zuul-stream/pre.yaml
  run: playbooks/zuul-stream/functional.yaml
  post-run:
  - playbooks/zuul-stream/post.yaml
  - playbooks/zuul-stream/post-ara.yaml
  required-projects:
  - openstack/ara

zuul-build-dashboard:
  parent: build-javascript-content
  success-url: npm/html/status.html
  vars:
    javascript_content_dir: zuul/web/static
    zuul_api_url: https://zuul.openstack.org
  run: playbooks/dashboard/run.yaml

zuul-build-dashboard-multi-tenant:
  parent: zuul-build-dashboard
  success-url: npm/html/tenants.html
  post-run: playbooks/dashboard/multi.yaml
  vars:
    zuul_api_url: https://softwarefactory-project.io/zuul
    javascript_copy_links: false

build-sphinx-docs:
  vars:
    sphinx_python: python3

tox-py36:
  nodeset: ubuntu-bionic

nodejs-npm-run-lint:
  vars:
    node_version: 8
  success-url: npm/reports/bundle.html

[DNM] Add zuul-client to requirements
  .zuul.yaml
  requirements.txt
  test-requirements.txt
  zuul/cmd/__init__.py
  zuul/cmd/client.py
  zuul/cmd/manage_ansible.py
Due: zuul-stream-functional, build-sphinx-docs, tox-py35, tox-py36

Update patch set 3
  801796655e1a331e35b53b6ca7e9ced64fa74527
Due: build-sphinx-docs, tox-py35, tox-py36

Update patch set 5
  53163358fd73e245bf9830221d6ff92cdc2fb75f
Due: build-sphinx-docs, tox-py35, tox-py36

Add logging and monitoring of reporting timings
  zuul/manager/__init__.py
Due: build-sphinx-docs, tox-py35, tox-py36

[DNM] Add zuul-client to requirements
  requirements.txt
  test-requirements.txt
  zuul/cmd/__init__.py
  zuul/cmd/client.py
  zuul/cmd/manage_ansible.py
Due: zuul-stream-functional, build-sphinx-docs, tox-py35, tox-py36

Update patch set 6
  c8ff7d2f7ef997dd8b724c19582bb166557c41da
Due: build-sphinx-docs, tox-py35, tox-py36

Add logging and monitoring of reporting timings
  doc/source/reference/monitoring.rst
  zuul/manager/__init__.py
Due: build-sphinx-docs, tox-py35, tox-py36

Change Pipeline.getAllItems to generator
  zuul/model.py
Due: build-sphinx-docs, tox-py35, tox-py36

Update patch set 9
  d676b6d6d9ac3c903b0f8a8ed013b96cf8a65df7
Due: build-sphinx-docs, tox-py35, tox-py36

Clean up stale git index.lock files on merger startup
  tests/unit/test_merger_repo.py
  zuul/merger/server.py
Due: build-sphinx-docs, tox-py35, tox-py36

web: consistent font sizes on console page and PF4 for task summary
  web/src/containers/build/BuildOutput.jsx
  web/src/containers/logfile/LogFile.jsx
  web/src/index.css
  web/src/pages/Build.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

web: PF4 minor rework of log viewer page
  web/package.json
  web/src/containers/logfile/LogFile.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

web: consistent font sizes on console page and PF4 for task summary
  web/src/containers/build/BuildOutput.jsx
  web/src/index.css
  web/src/pages/Build.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Path conditions:
  zuul-stream-functional: any of: zuul/ansible/.*, playbooks/zuul-stream/.*, requirements.txt
  zuul-build-dashboard: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
  zuul-build-dashboard-multi-tenant: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
  build-sphinx-docs: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py35: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py36: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  nodejs-npm-run-lint: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
