Repository blurrycontour/zuul-gerrit: changes, and which Zuul jobs are due for each by the changed paths.
All: zuul-stream-functional, zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

zuul-stream-functional:
  parent: multinode
  nodeset: zuul-functional-temp-master
  pre-run: playbooks/zuul-stream/pre.yaml
  run: playbooks/zuul-stream/functional.yaml
  post-run:
  - playbooks/zuul-stream/post.yaml
  - playbooks/zuul-stream/post-ara.yaml
  required-projects:
  - openstack/ara

zuul-build-dashboard:
  parent: build-javascript-content
  success-url: npm/html/status.html
  vars:
    javascript_content_dir: zuul/web/static
    zuul_api_url: https://zuul.openstack.org
  run: playbooks/dashboard/run.yaml

zuul-build-dashboard-multi-tenant:
  parent: zuul-build-dashboard
  success-url: npm/html/tenants.html
  post-run: playbooks/dashboard/multi.yaml
  vars:
    zuul_api_url: https://softwarefactory-project.io/zuul
    javascript_copy_links: false

build-sphinx-docs:
  vars:
    sphinx_python: python3

tox-py36:
  nodeset: ubuntu-bionic

nodejs-npm-run-lint:
  vars:
    node_version: 8
  success-url: npm/reports/bundle.html

[WIP] admin REST API: zuul-web integration
  releasenotes/notes/admin_web_api-1331c81070a3e67f.yaml
  web/package.json
  web/src/App.jsx
  web/src/actions/auth.js
  web/src/api.js
  web/src/config.js
  web/src/containers/status/Change.jsx
  web/src/containers/status/ChangePanel.jsx
  web/src/containers/status/ChangeQueue.jsx
  web/src/index.js
  web/src/pages/Builds.jsx
  web/src/pages/Buildsets.jsx
  web/src/pages/auth/Callback.jsx
  web/src/reducers/auth.js
  web/src/reducers/index.js
  web/src/routes.js
  web/src/store.js
  web/src/userManager.js
  web/yarn.lock
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Update patch set 2
  d1307ccf7a298758d5741d6e669aa46a118367d5
Due: build-sphinx-docs, tox-py35, tox-py36

Update patch set 8
  ea061e3d446dd8da6f272c9012c86e1b31bc031e
Due: build-sphinx-docs, tox-py35, tox-py36

Update patch set 32
  94b2e0cdd4c946d56cda0f3f41b3518d5968cc90
Due: build-sphinx-docs, tox-py35, tox-py36

doc: Clarify that regexp has restricted syntax
  doc/source/user/config.rst
Due: build-sphinx-docs, tox-py35, tox-py36

Update patch set 1
  cd3ea418ffc7368e390ede7444895e7857592974
Due: build-sphinx-docs, tox-py35, tox-py36

Update patch set 1
  b7fe37a35ca32a36e6d5cb35ae45a9cdee74c6ef
Due: build-sphinx-docs, tox-py35, tox-py36

Update patch set 5
  0b6850c9488ca5a19f1b41158669588261822069
Due: build-sphinx-docs, tox-py35, tox-py36

Update patch set 2
  6f35b2cc436255396cb1f944c23d31b078859873
Due: build-sphinx-docs, tox-py35, tox-py36

Add optional support for circular dependencies
  doc/source/admin/tenants.rst
  tests/fixtures/config/circular-dependencies/git/common-config/playbooks/run.yaml
  tests/fixtures/config/circular-dependencies/git/common-config/zuul.yaml
  tests/fixtures/config/circular-dependencies/git/gh_project/README
  tests/fixtures/config/circular-dependencies/git/gh_project1/README
  tests/fixtures/config/circular-dependencies/git/gh_project2/README
  tests/fixtures/config/circular-dependencies/git/gh_project3/README
  tests/fixtures/config/circular-dependencies/git/org_project/README
  tests/fixtures/config/circular-dependencies/git/org_project1/README
  tests/fixtures/config/circular-dependencies/git/org_project2/README
  tests/fixtures/config/circular-dependencies/git/org_project3/README
  tests/fixtures/config/circular-dependencies/main.yaml
  tests/unit/test_circular_dependencies.py
  zuul/configloader.py
  zuul/lib/tarjan.py
  zuul/manager/__init__.py
  zuul/manager/dependent.py
  zuul/manager/independent.py
  zuul/model.py
  zuul/reporter/__init__.py
  zuul/scheduler.py
Due: build-sphinx-docs, tox-py35, tox-py36

Keep task stdout/stderr separate in result object
  doc/source/admin/components.rst
  playbooks/zuul-stream/functional.yaml
  tests/fixtures/config/job-output/git/common-config/playbooks/job-output-failure-post.yaml
  tests/fixtures/config/job-output/git/common-config/playbooks/job-output.yaml
  tests/unit/test_v3.py
  zuul/ansible/base/actiongeneral/command.py
  zuul/ansible/base/callback/zuul_stream.py
  zuul/ansible/base/library/command.py
  zuul/executor/server.py
Due: zuul-stream-functional, build-sphinx-docs, tox-py35, tox-py36

Align template formating for reporters
  tests/fixtures/config/mqtt-driver/git/common-config/zuul.d/config.yaml
  tests/unit/test_connection.py
  zuul/driver/mqtt/mqttreporter.py
  zuul/driver/smtp/smtpreporter.py
  zuul/model.py
  zuul/reporter/__init__.py
Due: build-sphinx-docs, tox-py35, tox-py36

authentication config: add optional token_expiry
  etc/zuul.conf-sample
  tests/fixtures/zuul-admin-web-token-expiry.conf
  tests/unit/test_web.py
  zuul/cmd/client.py
  zuul/driver/auth/jwt.py
Due: build-sphinx-docs, tox-py35, tox-py36

zuul_stream: handle module that emit msg as a list
  zuul/ansible/base/callback/zuul_stream.py
Due: zuul-stream-functional, build-sphinx-docs, tox-py35, tox-py36

Update patch set 1
  42d292694cc75a5c620380cb41cd260a2db08362
Due: build-sphinx-docs, tox-py35, tox-py36

Path conditions:
  zuul-stream-functional: any of: zuul/ansible/.*, playbooks/zuul-stream/.*, requirements.txt
  zuul-build-dashboard: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
  zuul-build-dashboard-multi-tenant: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
  build-sphinx-docs: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py35: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py36: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  nodejs-npm-run-lint: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
