Repository blurrycontour/zuul-gerrit: changes, and which Zuul jobs are due for each by the changed paths.
All: zuul-stream-functional, zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Path conditions:
  zuul-stream-functional: any of: zuul/ansible/.*, playbooks/zuul-stream/.*, requirements.txt
  zuul-build-dashboard: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
  zuul-build-dashboard-multi-tenant: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
  build-sphinx-docs: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py35: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py36: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  nodejs-npm-run-lint: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock

webtrigger: add web route and rpclistener
  tests/unit/test_web.py
  zuul/rpclistener.py
  zuul/web/__init__.py
Due: build-sphinx-docs, tox-py35, tox-py36

Update patch set 2
  c3188cb2999d6988d1f6f7b941e71ccef4de5e49
Due: build-sphinx-docs, tox-py35, tox-py36

amqp: add message informations to the job variables
  tests/base.py
  tests/unit/test_connection.py
  zuul/driver/amqp/amqpmodel.py
  zuul/executor/client.py
  zuul/model.py
Due: build-sphinx-docs, tox-py35, tox-py36

Update patch set 4
  127d8536d92916488bc865ba0cb7ff1b42308f3f
Due: build-sphinx-docs, tox-py35, tox-py36

CLI: fail if trying to enqueue/dequeue a change for the wrong project
  tests/unit/test_scheduler.py
  zuul/rpclistener.py
  zuul/scheduler.py
Due: build-sphinx-docs, tox-py35, tox-py36

web: add jobs list filter
  web/src/containers/jobs/Jobs.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Update patch set 2
  6484ebbcc841d62c712fa6ddc320c2e71f07f8a5
Due: build-sphinx-docs, tox-py35, tox-py36

Ignore files at timer trigger
  tests/fixtures/layouts/timer-template.yaml
  zuul/model.py
  zuul/scheduler.py
Due: build-sphinx-docs, tox-py35, tox-py36

Switch to LRU based sha to PR cache
  requirements.txt
  tests/unit/test_github_driver.py
  zuul/driver/github/githubconnection.py
Due: zuul-stream-functional, build-sphinx-docs, tox-py35, tox-py36
