Repository blurrycontour/zuul-gerrit: changes, and which Zuul jobs are due for each by the changed paths.
All: zuul-stream-functional, zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Path conditions:
  zuul-stream-functional: any of: zuul/ansible/.*, playbooks/zuul-stream/.*, requirements.txt
  zuul-build-dashboard: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
  zuul-build-dashboard-multi-tenant: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
  build-sphinx-docs: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py35: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py36: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  nodejs-npm-run-lint: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock

web: consistent font sizes on console page and PF4 for task summary
  web/src/containers/build/BuildOutput.jsx
  web/src/index.css
  web/src/pages/Build.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

web: Don't use filled tabs for results page
  web/src/pages/Build.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Update patch set 6
  e7c86ed52e530e276a8a2d1bfe7c1f975214dd31
Due: build-sphinx-docs, tox-py35, tox-py36

Change Pipeline.getAllItems to generator
  zuul/manager/__init__.py
  zuul/model.py
Due: build-sphinx-docs, tox-py35, tox-py36

Change Pipeline.getAllItems to generator
  tests/unit/test_cross_crd.py
  tests/unit/test_gerrit_crd.py
  tests/unit/test_gerrit_legacy_crd.py
  tests/unit/test_github_driver.py
  tests/unit/test_gitlab_driver.py
  tests/unit/test_pagure_driver.py
  tests/unit/test_reporting.py
  tests/unit/test_scheduler.py
  tests/unit/test_v3.py
  zuul/manager/__init__.py
  zuul/model.py
Due: build-sphinx-docs, tox-py35, tox-py36

Save superfluous api requests in check run reporting
  tests/fakegithub.py
  tests/unit/test_github_driver.py
  zuul/driver/github/githubconnection.py
  zuul/driver/github/githubreporter.py
  zuul/model.py
Due: build-sphinx-docs, tox-py35, tox-py36

Remove an unneeded api call when creating check_runs
  tests/fakegithub.py
  zuul/driver/github/githubconnection.py
Due: build-sphinx-docs, tox-py35, tox-py36

Add logging and monitoring of reporting timings
  doc/source/reference/monitoring.rst
  zuul/manager/__init__.py
Due: build-sphinx-docs, tox-py35, tox-py36

Update patch set 7
  19528d5297171227b11c8f91dedd3e0ead353b20
Due: build-sphinx-docs, tox-py35, tox-py36

Make reporting asynchronous
  tests/base.py
  zuul/connection/__init__.py
  zuul/driver/gerrit/gerritconnection.py
  zuul/driver/git/gitconnection.py
  zuul/driver/github/githubconnection.py
  zuul/driver/mqtt/mqttconnection.py
  zuul/driver/mqtt/mqttreporter.py
  zuul/driver/pagure/pagureconnection.py
  zuul/driver/sql/sqlconnection.py
  zuul/manager/__init__.py
  zuul/model.py
  zuul/reporter/__init__.py
  zuul/scheduler.py
Due: build-sphinx-docs, tox-py35, tox-py36

Add zuul-client testing
  .zuul.yaml
  test-requirements.txt
  tests/unit/test_web.py
  tests/unit/test_zuulclient.py
Due: build-sphinx-docs, tox-py35, tox-py36

[DNM] Add zuul-client to requirements
  requirements.txt
  test-requirements.txt
  zuul/cmd/__init__.py
  zuul/cmd/client.py
  zuul/cmd/manage_ansible.py
Due: zuul-stream-functional, build-sphinx-docs, tox-py35, tox-py36
