Repository blurrycontour/zuul-gerrit: changes, and which Zuul jobs are due for each by the changed paths.
All: zuul-stream-functional, zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Path conditions:
  zuul-stream-functional: any of: zuul/ansible/.*, playbooks/zuul-stream/.*, requirements.txt
  zuul-build-dashboard: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
  zuul-build-dashboard-multi-tenant: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
  build-sphinx-docs: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py35: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py36: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  nodejs-npm-run-lint: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock

Update notes for submitted changes
  31/b83dd2e8ae808d65a0b5a8672dd244d3ce9a0e
Due: build-sphinx-docs, tox-py35, tox-py36

[WIP] Builds: add "held" attribute
  tests/unit/test_scheduler.py
  zuul/driver/sql/sqlconnection.py
  zuul/model.py
  zuul/scheduler.py
  zuul/web/__init__.py
Due: build-sphinx-docs, tox-py35, tox-py36

Update patch set 1
  cd85a4a612079797f36337e4416964646f882390
Due: build-sphinx-docs, tox-py35, tox-py36

[WIP] Builds: add "held" attribute
  tests/unit/test_scheduler.py
  zuul/driver/sql/alembic/versions/32e28a297c3e_add_held_attribute_to_builds.py
  zuul/driver/sql/sqlconnection.py
  zuul/driver/sql/sqlreporter.py
  zuul/model.py
  zuul/scheduler.py
  zuul/web/__init__.py
Due: build-sphinx-docs, tox-py35, tox-py36

Update patch set 2
  a6bcf3af548fec2cdf6c0814d486d08697828dc9
Due: build-sphinx-docs, tox-py35, tox-py36

Zuul CLI: add console-stream command
  doc/source/reference/client.rst
  requirements.txt
  zuul/cmd/client.py
Due: zuul-stream-functional, build-sphinx-docs, tox-py35, tox-py36

Remove another shebang and remove useless exec bits
  zuul/cmd/__init__.py
  zuul/cmd/client.py
  zuul/cmd/executor.py
  zuul/cmd/merger.py
  zuul/cmd/scheduler.py
  zuul/cmd/web.py
Due: build-sphinx-docs, tox-py35, tox-py36

Builds: add "held" attribute
  releasenotes/notes/builds_held_attribute-711abd33402ce036.yaml
  tests/unit/test_connection.py
  tests/unit/test_scheduler.py
  zuul/driver/sql/alembic/versions/32e28a297c3e_add_held_attribute_to_builds.py
  zuul/driver/sql/sqlconnection.py
  zuul/driver/sql/sqlreporter.py
  zuul/model.py
  zuul/scheduler.py
  zuul/web/__init__.py
Due: build-sphinx-docs, tox-py35, tox-py36

[WIP] Web UI: add "held" information, filtering in Builds page
  web/src/pages/Builds.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Builds: add "held" attribute
  releasenotes/notes/builds_held_attribute-711abd33402ce036.yaml
  tests/base.py
  tests/unit/test_connection.py
  tests/unit/test_scheduler.py
  zuul/driver/sql/alembic/versions/32e28a297c3e_add_held_attribute_to_builds.py
  zuul/driver/sql/sqlconnection.py
  zuul/driver/sql/sqlreporter.py
  zuul/model.py
  zuul/scheduler.py
  zuul/web/__init__.py
Due: build-sphinx-docs, tox-py35, tox-py36

[WIP] web UI: add Autoholds Requests page
  web/src/api.js
  web/src/pages/Autoholds.jsx
  web/src/routes.js
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint
