Repository blurrycontour/zuul-gerrit: changes, and which Zuul jobs are due for each by the changed paths.
All: zuul-stream-functional, zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

zuul-stream-functional:
  parent: multinode
  nodeset: zuul-functional-temp-master
  pre-run: playbooks/zuul-stream/pre.yaml
  run: playbooks/zuul-stream/functional.yaml
  post-run:
  - playbooks/zuul-stream/post.yaml
  - playbooks/zuul-stream/post-ara.yaml
  required-projects:
  - openstack/ara

zuul-build-dashboard:
  parent: build-javascript-content
  success-url: npm/html/status.html
  vars:
    javascript_content_dir: zuul/web/static
    zuul_api_url: https://zuul.openstack.org
  run: playbooks/dashboard/run.yaml

zuul-build-dashboard-multi-tenant:
  parent: zuul-build-dashboard
  success-url: npm/html/tenants.html
  post-run: playbooks/dashboard/multi.yaml
  vars:
    zuul_api_url: https://softwarefactory-project.io/zuul
    javascript_copy_links: false

build-sphinx-docs:
  vars:
    sphinx_python: python3

tox-py36:
  nodeset: ubuntu-bionic

nodejs-npm-run-lint:
  vars:
    node_version: 8
  success-url: npm/reports/bundle.html

Improve typings in context of 630472
  zuul/cmd/__init__.py
  zuul/configloader.py
  zuul/driver/__init__.py
  zuul/driver/gerrit/__init__.py
  zuul/driver/git/__init__.py
  zuul/driver/github/__init__.py
  zuul/driver/gitlab/__init__.py
  zuul/driver/mqtt/__init__.py
  zuul/driver/pagure/__init__.py
  zuul/driver/smtp/__init__.py
  zuul/driver/sql/__init__.py
  zuul/lib/connections.py
  zuul/manager/__init__.py
  zuul/model.py
  zuul/scheduler.py
Due: build-sphinx-docs, tox-py35, tox-py36

Update patch set 22
  53485df6284b5542f3faf51d1b0ca6fd4c5b315a
Due: build-sphinx-docs, tox-py35, tox-py36

WIP: Close Socket Connection in Zuul Stream after Stream Ended
  zuul/ansible/base/callback/zuul_stream.py
Due: zuul-stream-functional, build-sphinx-docs, tox-py35, tox-py36

Update patch set 4
  277dbe2d2162d53b70bb01384483b97face937ca
Due: build-sphinx-docs, tox-py35, tox-py36

Update patch set 10
  1ecbe5847455c9cd5123f1e2c7109c56bc850be1
Due: build-sphinx-docs, tox-py35, tox-py36

PF4: Update filter toolbar on builds and buildsets page
  web/src/containers/FilterToolbar.jsx
  web/src/containers/TableFilters.jsx
  web/src/pages/Builds.jsx
  web/src/pages/Buildsets.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Add optional support for circular dependencies
  doc/source/reference/queue_def.rst
  tests/fixtures/config/circular-dependencies/git/common-config/playbooks/run.yaml
  tests/fixtures/config/circular-dependencies/git/common-config/zuul.yaml
  tests/fixtures/config/circular-dependencies/git/gh_project/README
  tests/fixtures/config/circular-dependencies/git/gh_project1/README
  tests/fixtures/config/circular-dependencies/git/gh_project2/README
  tests/fixtures/config/circular-dependencies/git/gh_project3/README
  tests/fixtures/config/circular-dependencies/git/org_project/README
  tests/fixtures/config/circular-dependencies/git/org_project1/README
  tests/fixtures/config/circular-dependencies/git/org_project2/README
  tests/fixtures/config/circular-dependencies/git/org_project2/zuul.yaml
  tests/fixtures/config/circular-dependencies/git/org_project3/README
  tests/fixtures/config/circular-dependencies/git/org_project4/README
  tests/fixtures/config/circular-dependencies/main.yaml
  tests/unit/test_circular_dependencies.py
  zuul/configloader.py
  zuul/lib/tarjan.py
  zuul/manager/__init__.py
  zuul/manager/dependent.py
  zuul/manager/independent.py
  zuul/model.py
  zuul/reporter/__init__.py
  zuul/scheduler.py
Due: build-sphinx-docs, tox-py35, tox-py36

Check cycle items are mergeable before reporting
  tests/unit/test_circular_dependencies.py
  zuul/manager/__init__.py
  zuul/manager/dependent.py
  zuul/model.py
  zuul/reporter/__init__.py
Due: build-sphinx-docs, tox-py35, tox-py36

Path conditions:
  zuul-stream-functional: any of: zuul/ansible/.*, playbooks/zuul-stream/.*, requirements.txt
  zuul-build-dashboard: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
  zuul-build-dashboard-multi-tenant: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
  build-sphinx-docs: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py35: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py36: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  nodejs-npm-run-lint: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
