Repository blurrycontour/zuul-gerrit: changes, and which Zuul jobs are due for each by the changed paths.
All: zuul-stream-functional, zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Path conditions:
  zuul-stream-functional: any of: zuul/ansible/.*, playbooks/zuul-stream/.*, requirements.txt
  zuul-build-dashboard: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
  zuul-build-dashboard-multi-tenant: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
  build-sphinx-docs: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py35: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py36: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  nodejs-npm-run-lint: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock

[WIP] web UI: add Autoholds Requests page
  web/src/api.js
  web/src/pages/Autoholds.jsx
  web/src/routes.js
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

separate Zuul CLI, Zuul Web CLI
  doc/source/reference/client.rst
  doc/source/reference/user.rst
  doc/source/reference/webclient.rst
  releasenotes/notes/zuul_web_client-f51112c9ceb55af1.yaml
  requirements.txt
  setup.cfg
  tests/unit/test_web.py
  zuul/cmd/__init__.py
  zuul/cmd/client.py
  zuul/cmd/web_client.py
Due: zuul-stream-functional, build-sphinx-docs, tox-py35, tox-py36

Update patch set 9
  b5c7091f4be47a0d95be49f5f4933b44dbe6a22a
Due: build-sphinx-docs, tox-py35, tox-py36

Improve typings in context of 630472
  zuul/configloader.py
  zuul/driver/__init__.py
  zuul/driver/gerrit/__init__.py
  zuul/driver/git/__init__.py
  zuul/driver/github/__init__.py
  zuul/driver/gitlab/__init__.py
  zuul/driver/mqtt/__init__.py
  zuul/driver/pagure/__init__.py
  zuul/driver/smtp/__init__.py
  zuul/driver/sql/__init__.py
  zuul/lib/connections.py
  zuul/manager/__init__.py
  zuul/model.py
  zuul/scheduler.py
Due: build-sphinx-docs, tox-py35, tox-py36

Update patch set 19
  363a4d497232b5278842017c61435663b23ef16a
Due: build-sphinx-docs, tox-py35, tox-py36

Support per branch change queues
  doc/source/reference/config.rst
  doc/source/reference/project_def.rst
  doc/source/reference/queue_def.rst
  releasenotes/notes/change-queue-per-branch-8f7f352fdf0aec3b.yaml
  tests/base.py
  tests/fixtures/config/change-queues/git/common-config/playbooks/project-test.yaml
  tests/fixtures/config/change-queues/git/common-config/zuul.d/config.yaml
  tests/fixtures/config/change-queues/git/common-config/zuul.d/queue.yaml
  tests/fixtures/config/change-queues/git/org_project/.zuul.yaml
  tests/fixtures/config/change-queues/git/org_project2/readme
  tests/fixtures/config/change-queues/git/org_project3/zuul.d/project.yaml
  tests/fixtures/config/change-queues/git/org_project3/zuul.d/queue.yaml
  tests/fixtures/config/change-queues/main.yaml
  tests/unit/test_configloader.py
  tests/unit/test_scheduler.py
  zuul/configloader.py
  zuul/manager/__init__.py
  zuul/manager/dependent.py
  zuul/manager/independent.py
  zuul/manager/shared.py
  zuul/manager/supercedent.py
  zuul/model.py
  zuul/scheduler.py
Due: build-sphinx-docs, tox-py35, tox-py36

Move queue from pipeline to project
  doc/source/reference/project_def.rst
  doc/source/reference/queue_def.rst
  releasenotes/notes/change-queue-project-790553bd212b50eb.yaml
  tests/fixtures/config/change-queues/git/common-config/zuul.d/config.yaml
  tests/fixtures/config/change-queues/git/org_project3/readme
  tests/fixtures/config/single-tenant/git/common-config/zuul.yaml
  tests/unit/test_scheduler.py
  tests/unit/test_web.py
  zuul/configloader.py
  zuul/manager/__init__.py
  zuul/manager/shared.py
  zuul/model.py
Due: build-sphinx-docs, tox-py35, tox-py36

Add optional support for circular dependencies
  doc/source/reference/queue_def.rst
  tests/fixtures/config/circular-dependencies/git/common-config/playbooks/run.yaml
  tests/fixtures/config/circular-dependencies/git/common-config/zuul.yaml
  tests/fixtures/config/circular-dependencies/git/gh_project/README
  tests/fixtures/config/circular-dependencies/git/gh_project1/README
  tests/fixtures/config/circular-dependencies/git/gh_project2/README
  tests/fixtures/config/circular-dependencies/git/gh_project3/README
  tests/fixtures/config/circular-dependencies/git/org_project/README
  tests/fixtures/config/circular-dependencies/git/org_project1/README
  tests/fixtures/config/circular-dependencies/git/org_project2/README
  tests/fixtures/config/circular-dependencies/git/org_project3/README
  tests/fixtures/config/circular-dependencies/main.yaml
  tests/unit/test_circular_dependencies.py
  zuul/configloader.py
  zuul/lib/tarjan.py
  zuul/manager/__init__.py
  zuul/manager/dependent.py
  zuul/manager/independent.py
  zuul/model.py
  zuul/reporter/__init__.py
  zuul/scheduler.py
Due: build-sphinx-docs, tox-py35, tox-py36

Web UI: add "held" information, filtering in Builds page
  web/src/containers/TableFilters.jsx
  web/src/pages/Builds.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Move queue from pipeline to project
  doc/source/reference/project_def.rst
  doc/source/reference/queue_def.rst
  releasenotes/notes/change-queue-project-790553bd212b50eb.yaml
  tests/fixtures/config/change-queues/git/common-config/zuul.d/config.yaml
  tests/fixtures/config/change-queues/git/org_project3/readme
  tests/fixtures/config/change-queues/git/org_project4/readme
  tests/fixtures/config/change-queues/main.yaml
  tests/fixtures/config/single-tenant/git/common-config/zuul.yaml
  tests/unit/test_scheduler.py
  tests/unit/test_web.py
  zuul/configloader.py
  zuul/manager/__init__.py
  zuul/manager/shared.py
  zuul/model.py
Due: build-sphinx-docs, tox-py35, tox-py36
