Repository blurrycontour/zuul-gerrit: changes, and which Zuul jobs are due for each by the changed paths.
All: zuul-stream-functional, zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Path conditions:
  zuul-stream-functional: any of: zuul/ansible/.*, playbooks/zuul-stream/.*, requirements.txt
  zuul-build-dashboard: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
  zuul-build-dashboard-multi-tenant: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
  build-sphinx-docs: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py35: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py36: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  nodejs-npm-run-lint: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock

Need SSH client for Ansible
  bindep.txt
Due: build-sphinx-docs, tox-py35, tox-py36

Include executor variables in initial setup call
  zuul/executor/server.py
Due: build-sphinx-docs, tox-py35, tox-py36

python3: Can't have unbuffered non-binary I/O
  zuul/ansible/library/zuul_console.py
Due: zuul-stream-functional, build-sphinx-docs, tox-py35, tox-py36

Uncap cherrypy
  requirements.txt
Due: zuul-stream-functional, build-sphinx-docs, tox-py35, tox-py36

Update patch set 1
  b901ed9ec1e22113069509724c8556b849ed3746
Due: build-sphinx-docs, tox-py35, tox-py36

Update patch set 3
  b4bb42e54d765a9ada3bef0c74d02deb0b6e2e05
Due: build-sphinx-docs, tox-py35, tox-py36

Change the remaining time fallback in JS
  web/status/jquery.zuul.js
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint
