Repository blurrycontour/zuul-gerrit: changes, and which Zuul jobs are due for each by the changed paths.
All: zuul-stream-functional, zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Path conditions:
  zuul-stream-functional: any of: zuul/ansible/.*, playbooks/zuul-stream/.*, requirements.txt
  zuul-build-dashboard: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
  zuul-build-dashboard-multi-tenant: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
  build-sphinx-docs: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py35: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py36: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  nodejs-npm-run-lint: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock

Report retried builds in a build set via mqtt.
  tests/unit/test_scheduler.py
  zuul/driver/mqtt/mqttreporter.py
  zuul/executor/client.py
  zuul/manager/__init__.py
  zuul/model.py
Due: build-sphinx-docs, tox-py35, tox-py36

Report retried builds via sql reporter.
  tests/unit/test_connection.py
  zuul/driver/sql/alembic/versions/269691d2220e_create_retry_builds_table.py
  zuul/driver/sql/sqlconnection.py
  zuul/driver/sql/sqlreporter.py
Due: build-sphinx-docs, tox-py35, tox-py36

Update patch set 1
  38e6f5061144befd5f9ea00d8e9da8f2e99b0e4c
Due: build-sphinx-docs, tox-py35, tox-py36

Update patch set 14
  06b6eeb56c4c8debf30f50a36e7f8e072e1c48d8
Due: build-sphinx-docs, tox-py35, tox-py36

wip: Add support for tracing using OpenTelemetry
  doc/source/discussion/components.rst
  etc/zuul.conf-sample
  requirements.txt
  tests/base.py
  zuul/cmd/__init__.py
  zuul/executor/server.py
  zuul/lib/tracing.py
  zuul/merger/server.py
  zuul/scheduler.py
  zuul/web/__init__.py
Due: zuul-stream-functional, build-sphinx-docs, tox-py35, tox-py36

Update patch set 15
  22b5dec24c80ccd1d1fc91f5f04ccff1135c0d11
Due: build-sphinx-docs, tox-py35, tox-py36

POC: Add build history link to summary
  web/src/containers/build/Summary.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Update patch set 2
  efe520c118ecda091b06786451852a29c60dd6d7
Due: build-sphinx-docs, tox-py35, tox-py36
