Repository blurrycontour/zuul-gerrit: changes, and which Zuul jobs are due for each by the changed paths.
All: zuul-stream-functional, zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Path conditions:
  zuul-stream-functional: any of: zuul/ansible/.*, playbooks/zuul-stream/.*, requirements.txt
  zuul-build-dashboard: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
  zuul-build-dashboard-multi-tenant: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock
  build-sphinx-docs: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py35: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py36: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  nodejs-npm-run-lint: any of: package.json, tsconfig.json, tslint.json, web/.*, webpack.config.js, yarn.lock

trigger: add job filter event
  tests/fixtures/config/job-filter/git/common-config/playbooks/project-test.yaml
  tests/fixtures/config/job-filter/git/common-config/zuul.yaml
  tests/fixtures/config/job-filter/git/org_project/README
  tests/fixtures/config/job-filter/main.yaml
  tests/unit/test_job_filter.py
  zuul/configloader.py
  zuul/driver/gerrit/gerritmodel.py
  zuul/driver/gerrit/gerrittrigger.py
  zuul/manager/__init__.py
  zuul/model.py
  zuul/reporter/__init__.py
  zuul/scheduler.py
Due: build-sphinx-docs, tox-py35, tox-py36

webtrigger: add initial driver and event
  tests/fixtures/config/single-tenant/git/common-config/zuul.yaml
  tests/unit/test_scheduler.py
  tests/unit/test_web.py
  zuul/driver/webtrigger.py
  zuul/lib/connections.py
Due: build-sphinx-docs, tox-py35, tox-py36

webtrigger: add web route and rpclistener
  tests/unit/test_web.py
  zuul/manager/__init__.py
  zuul/model.py
  zuul/rpclistener.py
  zuul/scheduler.py
  zuul/web/__init__.py
Due: build-sphinx-docs, tox-py35, tox-py36

web: add build button to trigger job
  web/src/actions/pipelines.js
  web/src/api.js
  web/src/containers/build/BuildModal.jsx
  web/src/containers/project/Project.jsx
  web/src/containers/project/ProjectVariant.jsx
  web/src/index.css
  web/src/pages/Project.jsx
  web/src/reducers/index.js
  web/src/reducers/pipelines.js
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, build-sphinx-docs, tox-py35, tox-py36, nodejs-npm-run-lint

Update notes for submitted changes
  af/910d9d8e432100a74e97a91670fc0ecc7e2b4f
Due: build-sphinx-docs, tox-py35, tox-py36

amqp: add basic trigger
  doc/source/admin/connections.rst
  doc/source/admin/drivers/amqp.rst
  releasenotes/notes/amqp-trigger-f6f5b4c8f2c538a9.yaml
  requirements.txt
  tests/base.py
  tests/fixtures/config/amqp-driver/git/common-config/playbooks/test.yaml
  tests/fixtures/config/amqp-driver/git/common-config/zuul.yaml
  tests/fixtures/config/amqp-driver/main.yaml
  tests/fixtures/zuul-amqp-driver.conf
  tests/unit/test_connection.py
  zuul/driver/amqp/__init__.py
  zuul/driver/amqp/amqpconnection.py
  zuul/driver/amqp/amqpmodel.py
  zuul/driver/amqp/amqptrigger.py
  zuul/lib/connections.py
Due: zuul-stream-functional, build-sphinx-docs, tox-py35, tox-py36

amqp: add message informations to the job variables
  tests/base.py
  tests/unit/test_connection.py
  zuul/executor/client.py
Due: build-sphinx-docs, tox-py35, tox-py36

git: only list head references
  zuul/driver/git/gitconnection.py
Due: build-sphinx-docs, tox-py35, tox-py36
